.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
R/make_map_initial.R
*.dcf
*.dcf
rsconnect/documents/index.Rmd/rpubs.com/rpubs/Publish Document.dcf
rsconnect/documents/index.Rmd/rpubs.com/rpubs/Publish Document.dcf
rsconnect/documents/index.Rmd/rpubs.com/rpubs/Publish Document.dcf
*.dcf
